h1{
    background-color: green;
    padding-left: 400px;
}

.container{
    background-color: greenyellow;
    width: 300px;
}

.box1{
    background-color: aqua;
    width: 300px;
    padding-top: 100px 100px;
}

.box2{
    background-color: blue;
    width: 300px;
    padding-top: 100px 100px;
}

.box3{
    background-color: brown;
    width: 300px;
    padding-top: 300ppx;
}